// Brand
$background-primary: #0B0F1A;
$surface: #12172A;
$border: #1F2A44;
$border-light: #3D507D;

$text-primary: #E6EAF2;
$text-secondary: #9AA4BF;

$cyan: #00E5FF;
$purple: #7B61FF;
$magenta: #FF2A6D;

$green: #39FF14;
$error: #FF0004;


// Neutral
$color-white: #ffffff;
$color-black: #000000;
$color-gray-100: #f5f5f5;
$color-gray-500: #9e9e9e;
$color-gray-900: #212121;

// Status
$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
