@use 'breakpoints' as breakpoints;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: breakpoints.$breakpoint-sm) { @content; }
  }
  @else if $breakpoint == md {
    @media (min-width: breakpoints.$breakpoint-md) { @content; }
  }
  @else if $breakpoint == lg {
    @media (min-width: breakpoints.$breakpoint-lg) { @content; }
  }
  @else if $breakpoint == xl {
    @media (min-width: breakpoints.$breakpoint-xl) { @content; }
  }
}


@mixin glowing($color) {
  color: $color;
  filter: drop-shadow(0 0 0.1rem $color);
}
