:root {

  // Typo
  --font-family-base: "Orbitron", sans-serif;
  --font-family-band: "Orbitron", sans-serif;

  --font-size-xs: 0.75rem; //12px
  --font-size-sm: 0.875rem; //14px
  --font-size-base: 1rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;


  /* spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;

  /* radius */
  --radius-sm: 4px;
  --radius-md: 8px;
}
