$font-family-base: 'Orbitron', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
