@use '@angular/material' as mat;
@use './themes' as themes;

@include mat.core();

///* Light theme (default) */
//:root {
//  @include mat.all-component-themes(themes.$light-theme);
//
//  --color-bg: #{mat.get-theme-color(themes.$light-theme, background)};
//  --color-surface: #{mat.get-theme-color(themes.$light-theme, surface)};
//  --color-text: #{mat.get-theme-color(themes.$light-theme, on-surface)};
//}
//
///* Dark theme */
//.theme-dark {
//  @include mat.all-component-colors(themes.$dark-theme);
//
//  --color-bg: #{mat.get-theme-color(themes.$dark-theme, background)};
//  --color-surface: #{mat.get-theme-color(themes.$dark-theme, surface)};
//  --color-text: #{mat.get-theme-color(themes.$dark-theme, on-surface)};
//}
