@use '@angular/material' as mat;
@use './palettes' as palettes;

// Light theme
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: palettes.$primary-palette,
    accent: palettes.$secondary-palette,
    warn: palettes.$warn-palette,
  )
));

// Dark theme
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: palettes.$primary-palette,
    accent: palettes.$secondary-palette,
    warn: palettes.$warn-palette,
  )
));


@include mat.core-theme($light-theme);
@include mat.core-theme($dark-theme);
