@use 'index';
@use 'colors' as colors;

html,
body {
  color-scheme: light dark;
  height: 100dvh;
  width: 100%;
  display: flex;
  margin: 0;
  background-color: colors.$background-primary;

  app-route {
    flex: 1;
  }
}
