:host {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: var(--space-3);
  bottom: var(--space-3);
  gap: var(--gap-md);
  opacity: 30%;
  pointer-events: none;
}

.bottom-arrow-container {
  display: flex;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary);
}

.square.active {
  background-color: lightgray;
}

.square:active {
  background-color: lightgray;
}

.arrow {
  color: var(--secondary);
}

.arrow-disabled {
  color: grey;
}

.direction-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickable{
  cursor: pointer;
  pointer-events: auto;
}


